.policy_lead{
  font-size: 14px;
  line-height: 1.8;
  padding-bottom: 50px;
  margin-bottom: 50px;
  letter-spacing: 1px;
  border-bottom: 1px solid #f1f1f1;
  a{
    color: #068acc;
    display: inline-block;
    padding: 0 2px;
    @include hover;
  }
}
.policy_wrap{
  margin-bottom: 100px;
}
.comp-policy{
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 1px;
  margin-bottom: 30px;
  .ttl_h3{
    padding: 10px;
    background: #f4f4f4;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
  }
  p{
    padding: 0 10px;
  }
}
