.comp-gift-service{
  .service_lower{
    @include flexSet;
    align-items: flex-start;
    justify-content: space-between;
    .service_item{
      width: 23%;
      @include flexSet;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;
      .img_wrap{
        width: 100%;
        margin-bottom: 20px;
      }
      .txt_wrap{
        width: 100%;
        .option_ttl{
          font-size: 18px;
          font-weight: normal;
          line-height: normal;
          letter-spacing: 0.3px;
          margin-bottom: 10px;
        }
        .option_desc{
          font-size: 13px;
          line-height: 1.8;
          letter-spacing: 0.44px;
          span{
            display: block;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1100px){
  .comp-gift-service{
    .service_lower{
      display: block;
      .service_item{
        width: 100%;
        @include flexSet;
        align-items: center;
        margin-bottom: 60px;
        .img_wrap{
          width: 45%;
          margin-right: 5%;
          margin-bottom: 0px;
        }
        .txt_wrap{
          width: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 730px){
  .comp-gift-service{
    .service_lower{
      .service_item{
        width: 100%;
        display: block;
        margin-bottom: 40px;
        .img_wrap{
          width: 100%;
          margin-bottom: 15px;
        }
        .txt_wrap{
          width: 100%;
          .option_ttl{
            font-size: 18px;
            line-height: normal;
            letter-spacing: 0.7px;
            margin-bottom: 15px;
          }
          .option_desc{
            font-size: 14px;
            line-height: 1.6;
            letter-spacing: 0.5px;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}
