.comp-upcoming{
    width: 100%;
    display: block;
    appearance: none;
    box-shadow: 0px;
    background: #c8c8c9;
    padding: 19px 0;
    text-align: center;
    color: #fff;
    pointer-events: none;
    margin-bottom: 12.5px;
    span{
      position: relative;
      display: inline-block;
      font-size: 16px;
      letter-spacing: 1.5px;
    }
}
