article{

}
.inner{
  @include waku;
}
.ttl_section{
  margin-bottom: 40px;
  .ttl_ja{
    font-size: 28px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 2px;
    color: #333333;
    margin-bottom: 10px;
  }
  .ttl_en{
    display: block;
    @include xiaowei;
    font-size: 18px;
    color: $keycolor;
    letter-spacing: 1.6px;
  }
  &.center{
    text-align: center;
  }
  @media screen and (max-width: 740px){
    margin-bottom: 40px;
    .ttl_ja{
      font-size: 24px;
      letter-spacing: 1.6px;
      line-height: 1.5;
      margin-bottom: 7px;
      span{
        display: block;
      }
    }
    .ttl_en{
      font-size: 18px;
      letter-spacing: 1.6px;
    }
  }
}
.link_button01{
  width: 100%;
  a{
    display: block;
    border: 1px solid #c8c8c9;
    padding: 20px 25px;
    position: relative;
    color: #979797;
    transition: color .3s, background .3s;
    &::before, &::after{
      display: block;
      content: "";
      position: absolute;
      width: 35px;
      height: 35px;
      top:0;
      bottom:0;
      right:25px;
      margin: auto;
      @include bgSet;
    }
    &::before{
      background-image: url(../img/caret_hover.png);
    }
    &::after{
      transition: opacity .3s;
      background-image: url(../img/caret.png);
    }
    span{
      font-size: 20px;
      letter-spacing: 1.5px;
      font{
        display: inline-block;
        padding-left: 10px;
        @include xiaowei;
        font-size: 18px;
      }
    }
    &:hover{
      background: #c8c8c9;
      color: #fff;
      &::after{
        opacity: 0;
      }
    }
  }
  @media screen and (max-width: 740px){
    a{
      padding: 15px;
      &::before, &::after{
        width: 24px;
        height: 24px;
        right:15px;
      }
      span{
        font-size: 16px;
        letter-spacing: 1px;
        font{
          padding-left: 10px;
          font-size: 14px;
        }
      }
    }
  }
}
.link_button02{
  width: 100%;
  a{
    display: block;
    border: 1px solid #c8c8c9;
    padding: 15px 0;
    text-align: center;
    color: #979797;
    transition: color .3s, background .3s;
    span{
      position: relative;
      display: inline-block;
      font-size: 16px;
      letter-spacing: 1.5px;
      padding-right: 30px;
      &::before, &::after{
        display: block;
        content: "";
        position: absolute;
        top:0;
        bottom:0;
        right:0;
        margin: auto;
        width: 20px;
        height: 20px;
        @include bgSet;
      }
      &::before{
        background-image: url(../img/caret_hover.png);
      }
      &::after{
        transition: opacity .3s;
        background-image: url(../img/caret.png);
      }
    }
    &:hover{
      background: #c8c8c9;
      color: #fff;
      span{
        &::after{
          opacity: 0;
        }
      }
    }
  }
}
.fb_button_wrap{
  width: 100%;
  a{
    display: block;
    border: 1px solid #c8c8c9;
    padding: 20px 0;
    text-align: center;
    color: #979797;
    transition: color .3s, background .3s;
    span{
      @include xiaowei;
      position: relative;
      display: inline-block;
      font-size: 16px;
      letter-spacing: 1.5px;
      padding-right: 30px;
      @media screen and (max-width: 740px){
        font-size: 14px;
      }
      &::before, &::after{
        display: block;
        content: "";
        position: absolute;
        top:0;
        bottom:0;
        right:0;
        margin: auto;
        width: 20px;
        height: 20px;
        @include bgSet;
      }
      &::before{
        background-image: url(../img/caret_hover.png);
      }
      &::after{
        transition: opacity .3s;
        background-image: url(../img/caret.png);
      }
    }
    font{
      display: inline-block;
      padding-left: 30px;
      &::before, &::after{
        display: block;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 15px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-size: 12px;
      }
      &::before{
        background-image: url(../img/concept/fb_icon_white.png);
      }
      &::after{
        transition: opacity .3s;
        background-image: url(../img/concept/fb_icon.png);
      }
    }
    &:hover{
      background: #c8c8c9;
      color: #fff;
      span{
        &::after{
          opacity: 0;
        }
      }
      font{
        &::before{
        }
        &::after{
          opacity: 0;
        }
      }
    }
  }
}
