header {
  position: fixed;
  width: 100%;
  height: 80px;
  top:0;
  left:0;
  right:0;
  margin: auto;
  z-index: 100;
  .header_inner{
    width: calc(100% - 60px);
    height: 80px;
    margin: 0 auto;
    position: relative;
    transition: height .4s;
    #hummenu{
      position: absolute;
      top:0;
      bottom:0;
      left:0;
      margin: auto;
      width: 30px;
      height: 30px;
      a{
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        @include hover;
         &:before, &:after{
           display: block;
           content: "";
           position: absolute;
           top:0;
           bottom:0;
           left:0;
           right:0;
           margin: auto;
           width: 30px;
           height: 30px;
           @include bgSet;
           background-size: 26px;
         }
         &:before{
           background-image: url(../img/header/menu_button.png);
         }
         &:after{
           opacity: 0;
           background-image: url(../img/header/menu_button_white.png);
         }
      }
    }
    .header_logo{
      width: 130px;
      height: 50px;
      position: absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      margin: auto;
      a{
        position: relative;
        display: block;
        width: 130px;
        height: 50px;
        @include hover;
        &::before, &::after{
          display: block;
          position: absolute;
          content: "";
          top:0;
          bottom:0;
          left:0;
          right:0;
          margin: auto;
          width: 130px;
          height: 50px;
          @include bgSet;
        }
        &::before{
          background-image: url(../img/logo.svg);
        }
        &::after{
          opacity: 0;
          background-image: url(../img/logo_white.svg);
        }
      }
    }
    .header_nav{
      height: 24px;
      position: absolute;
      top:0;
      bottom:0;
      right:0;
      margin: auto;
      @include flexSet;
      a{
        display: block;
        font-size: 12px;
        letter-spacing: 1.6px;
        @include hover;
        span{
          position: relative;
          display: inline-block;
          line-height: 24px;
          padding-left: 30px;
          color: #666;
          &::before, &::after{
            position: absolute;
            top:0;
            bottom:0;
            left:0;
            margin: auto;
            display: block;
            content: "";
            width: 24px;
            height: 24px;
            @include bgSet;
            background-size: 22px;
          }
        }
        &.nav_login{
          margin-right: 20px;
          span{
            &::before{
              background-image: url(../img/header/header_login.svg);
            }
            &::after{
              opacity: 0;
              background-image: url(../img/header/header_login_white.png);
            }
          }
        }
        &.nav_cart{
          span{
            &::before{
              background-image: url(../img/header/header_cart.svg);
            }
            &::after{
              opacity: 0;
              background-image: url(../img/header/header_cart_white.png);
            }
          }
        }
      }
    }
  }
  &.top{
    background-color: #fff;
    opacity: 0;
    transition: opacity 1.5s, transform 1.5s;
    transform: translateY(10px);
  }
  &.under{
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(51, 51, 51, 0.2), rgba(0, 0, 0, 0));
    opacity: 1;
    transition: background 0s, height .4s;
    transform: translateY(0px);
    .header_inner{
      #hummenu{
        a{
           &:before, &:after{
             transition: opacity .4s;
           }
           &:before{
             opacity: 0;
           }
           &:after{
             opacity: 1;
           }
        }
      }
      .header_logo{
        a{
          &::before, &::after{
            transition: opacity .4s;
          }
          &::before{
            opacity: 0;
          }
          &::after{
            opacity: 1;
          }
        }
      }
      .header_nav{
        a{
          span{
            color: #fff;
            transition: color .4s;
            &::before, &::after{
              transition: opacity .4s;
            }
          }
          &.nav_login{
            span{
              &::before{
                opacity: 0;
              }
              &::after{
                opacity: 1;
              }
            }
          }
          &.nav_cart{
            span{
              &::before{
                opacity: 0;
              }
              &::after{
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  &.rolled{
    background-color: #fff;
    background-image: none;
    transition: background 0s, height .4s;
    .header_inner{
      #hummenu{
        a{
           &:before{
             opacity: 1;
           }
           &:after{
             opacity: 0;
           }
        }
      }
      .header_logo{
        a{
          &::before{
            opacity: 1;
          }
          &::after{
            opacity: 0;
          }
        }
      }
      .header_nav{
        a{
          span{
              color: #333;
          }
          &.nav_login{
            span{
              &::before{
                opacity: 1;
              }
              &::after{
                opacity: 0;
              }
            }
          }
          &.nav_cart{
            span{
              &::before{
                opacity: 1;
              }
              &::after{
                opacity: 0;
              }
            }
          }
        }
      }
    }
  }
  &.loaded{
    opacity: 1;
    transform: translateY(0px);
  }
}
@media screen and (max-width: 740px){
  header {
    position: fixed;
    width: 100%;
    height: 60px;
    .header_inner{
      width: 90vw;
      height: 60px;
      #hummenu{
        width: 50px;
        height: 30px;
        a{
          width: 50px;
          height: 30px;
          &::before, &::after{
            width: 50px;
            height: 30px;
            background-size: 25px;
            background-position: center left;
          }
        }
      }
      .header_logo{
        width: 87px;
        height: 34px;
        a{
          width: 87px;
          height: 34px;
          &::before, &::after{
            width: 87px;
            height: 34px;
          }
        }
      }
      .header_nav{
        height: 24px;
        a{
          display: block;
          span{
            width: 24px;
            height: 24px;
            padding-left:0;
            font{
              display: none;
            }
            &::before, &::after{
              width: 24px;
              height: 24px;
              background-size: 22px;
            }
          }
          &.nav_login{
            margin-right: 10px;
          }
        }
      }
    }
    &.rolled{
      height: 60px;
      .header_inner{
        height: 60px;
      }
    }
  }
}
