#slideMenu{
    width: 100%;
    height: 100vh;
    position: fixed;
    transition: all 0.5s;
    top: 0;
    bottom: 0;
    left: -360px;
    margin: auto;
    z-index: 2000;
    opacity: 0;
    pointer-events: none;
    &.open{
      left: 0px;
      opacity: 1;
      pointer-events: all;
    }
    #menuBg{
      width: calc(100% + 360px);
      height: 100%;
      background-color: rgba(51, 51, 51, 0.4);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
    #closeBtn{
      position: absolute;
      top: 35px;
      left: 30px;
      width: 18px;
      height: 18px;
      padding: 10px;
      margin: -10px;
      a{
        display: block;
        width: 100%;
        height: 100%;
        @include bgSet;
        background-image: url(../img/close.svg);
        background-size: 18px;
        @include hover;
      }
    }
    .menu_wrap{
      position: relative;
      background: #fff;
      width: 360px;
      height: 100vh;
      padding: 60px 30px;
      box-sizing: border-box;
      .menu_inner{
        position: absolute;
        top: 100px;
        bottom: 0;
        margin: auto;
        .hum_navi{
          ul{
            li{
              border-bottom: 1px solid #f1f1f1;
              &:last-child{
                border: 0px;
              }
              a{
                display: block;
                padding: 20px 5px;
                font-size: 12px;
                letter-spacing: 1.4px;
                color: #333;
                @include hover;
                span{
                  @include xiaowei;
                  display: inline-block;
                  padding-right: 10px;
                  font-size: 20px;
                  letter-spacing: 1.5px;
                  color: $keycolor;
                }
              }
            }
          }
        }
        .menu_sns{
          margin-top: 10px;
          ul{
            @include flexSet;
            li{
              width: 30px;
              margin-right: 10px;
              background: #f5f5f5;
              padding: 10px;
              border-radius: 50%;
              a{
                display: block;
                width: 30px;
                height: 30px;
                @include bgSet;
                background-size: 20px;
                &.tw{
                  background-image: url(../img/icon_tw.png);
                }
                &.fb{
                  background-image: url(../img/icon_fb.png);
                }
                &.ig{
                  background-image: url(../img/icon_ig.png);
                }
              }
            }
          }
        }
      }
    }
}
@media screen and (max-width: 740px){
  #slideMenu{
    left: -80vw;
      #menuBg{
        width: 180%;
      }
      #closeBtn{
        top: 8%;
        left: 1%;
        width: 15px;
        height: 15px;
        margin: 0 0 0 4%;
        a{
          background-size: 15px;
        }
      }
      .menu_wrap{
        width: 80vw;
        padding: 60px 0;
        height: 100vh;
        overflow: scroll;
        scroll-behavior: smooth;
        .menu_inner{
          margin: auto;
          width: 90%;
          height: auto;
          margin-top: 35px;
          position: static;
          .hum_navi{
            ul{
              li{
                a{
                  padding: 20px 5px;
                  font-size: 12px;
                  letter-spacing: 1px;
                  color: #333;
                  span{
                    font-size: 20px;
                    letter-spacing: 1px;
                  }
                }
              }
            }
          }
          .menu_sns{
            margin-top: 10px;
            ul{
              @include flexSet;
              li{
                width: 30px;
                margin-right: 10px;
                background: #f5f5f5;
                padding: 10px;
                border-radius: 50%;
                a{
                  display: block;
                  width: 30px;
                  height: 30px;
                  @include bgSet;
                  background-size: 20px;
                }
              }
            }
          }
        }
      }
  }
}
