#contact{
  .ttl_h3{
    padding: 10px;
    background: #f1f1f1;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
    line-height: 25px;
  }
  .contact_lead{
    font-size: 14px;
    line-height: 1.8;
    padding-bottom: 50px;
    margin-bottom: 50px;
    letter-spacing: 1px;
    border-bottom: 1px solid #f1f1f1;
    p{
      span{
        display: block;
      }
    }
  }
  #guideNav{
    margin: 30px 0;
    ul{
      padding: 0 10px;
      @include flexSet;
      li{
        width: 32%;
        margin-right: 2%;
        padding: 5px 0;
        margin-bottom: 5px;
        &:nth-child(3n){
          margin-right:0;
        }
        a{
          display: block;
          color: #333;
          font-size: 12px;
          padding: 5px 0 5px 30px;
          position: relative;
          background: #f4f4f4;
          border-radius: 5px;
          @include hover;
          &::before{
            position: absolute;
            width: 6px;
            height: 6px;
            content: "";
            top: 0;
            bottom: 0;
            left: 10px;
            margin: auto;
            border-top: 1px solid #333;
            border-right: 1px solid #333;
            transform: rotate(45deg);
            transition: all 0.5s;
          }
        }
      }
    }
  }
  .wpcf7{
    margin-bottom: 80px;
    span.wpcf7-not-valid-tip{
      margin-top: 10px;
      font-size: 12px;
    }
    .wpcf7c-conf{
      background: #f4f4f4 !important;
    }
    div.wpcf7-response-output{
      padding: 10px;
      text-align: center;
      margin: 0;
    }
    .ttl_h3{
      margin-bottom: 40px;
    }
    .form_wrap{
      padding: 0 10px;
      margin-bottom: 40px;
      label{
        display: block;
        font-size: 16px;
        letter-spacing: 1px;
        color: #333;
        margin-bottom: 15px;
      }
      input[type="text"],
      input[type="email"],
      input[type="tel"]{
        width: 100%;
        box-sizing: border-box;
        padding: 0px 10px;
        appearance: none;
        border-radius: 0;
        height: 46px;
        line-height: 45px;
        border-radius: 5px;
        border: solid 1px #c0c0c0;
        font-size: 14px;
      }

      .form01{
        width: 48%;
      }
      select{
        width: 100%;
        height: 40px;
        line-height: 40px;
        padding: 0px 10px;
      }
      textarea{
        width: 100%;
        height: 160px;
        border: solid 1px #c0c0c0;
        box-sizing: border-box;
        padding: 10px;
        line-height: 1.6;
        border-radius: 5px;
        box-shadow: none;
      }
      .flex_wrap{
        @include flexSet;
        margin-bottom: 50px;
        .form_left, .yourname{
          display: block;
          width: 48%;
          margin-right: 4%;
        }
        .form_right, .yourname2{
          width: 48%;
          margin-right: 0;
        }
      }
    }
    .confirm_wrap{
      margin: 0 auto 50px;
      .confirmButton{
        display: block;
        width: 600px;
        margin: 0 auto;
        text-align: center;
        input[type="submit"]{
          appearance: none;
          background: #fff;
          width: 100%;
          height: 44px;
          font-family: initial;
          font-size: 16px;
          letter-spacing: 2.5px;
          text-align: center;
          color: #000000;
          display: block;
          color: #00381f;
          border: none;
          text-indent: -2em;
          transition: all 0.5s;
          z-index: 10;
        }
      }
    }
    .send_wrap{
      display: block;
      text-align: center;
      #backButton{
        display: inline-block;
        background: #fff;
        width: 300px;
        height: 50px;
        line-height: 50px;
        margin-right: 30px;
        text-align: center;
        letter-spacing: 0.05em;
        font-size: 16px;
        font-family: initial;
        position: relative;
        color: #333;
        border: 1px solid #c0c0c0;
        transition: all 0.3s;
        box-sizing: border-box;
        appearance: none;
      }
      input[type="submit"]{
        display: inline-block;
        color: #333;
        width: 300px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        letter-spacing: 0.05em;
        font-size: 16px;
        font-family: initial;
        position: relative;
        border: 1px solid #c0c0c0;
        transition: all 0.3s;
        box-sizing: border-box;
        appearance: none;
        background: #c0c0c0;
      }
    }
  }
}
@media screen and (max-width: 1100px){
  #contact{
    #guideNav{
      margin: 30px 0;
      ul{
        padding: 0 10px;
        @include flexSet;
        li{
          width: 49%;
          margin-right: 2%;
          padding: 5px 0;
          margin-bottom: 5px;
          &:nth-child(3n){
            margin-right:2%;
          }
          &:nth-child(2n){
            margin-right:0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 740px){
  #contact{
    .ttl_h3{
      margin-bottom: 10px;
    }
    .comp-title{
      margin-bottom: 25px;
    }
    .contact_lead{
      font-size: 14px;
      line-height: 1.8;
      padding-bottom: 35px;
      margin-bottom: 35px;
      p{
        span{
          display: inline;
        }
      }
    }
    #guideNav{
      margin: 20px 0;
      ul{
        display: block;
        padding: 0;
        li{
          width: 100%;
          margin-right: 0;
          margin-bottom:0;
          padding: 5px 0;
          &:nth-child(3n){
            margin-right:0;
          }
        }
      }
    }
    .wpcf7{
      margin-bottom: 80px;
      span.wpcf7-not-valid-tip{
        margin-top: 10px;
        font-size: 12px;
      }
      .wpcf7c-conf{
        background: #f4f4f4 !important;
      }
      div.wpcf7-response-output{
        padding: 10px;
        text-align: left;
        font-size: 14px;
        line-height: 1.6;
      }
      .ttl_h3{
        margin-bottom: 30px;
      }
      .form_wrap{
        padding: 0;
        margin-bottom: 30px;
        label{
          display: block;
          font-size: 14px;
          margin-bottom: 15px;
        }
        input[type="text"],
        input[type="email"],
        input[type="tel"]{
          font-size: 16px;
        }

        .form01{
          width: 100%;
        }
        select{
          width: 100%;
          height: 40px;
          line-height: 40px;
          padding: 0px 10px;
        }
        textarea{
          width: 100%;
          height: 160px;
          border: solid 1px #c0c0c0;
          box-sizing: border-box;
          padding: 10px;
          line-height: 1.6;
          border-radius: 5px;
          box-shadow: none;
        }
        .flex_wrap{
          display: block;
          margin-bottom: 30px;
          .form_left, .yourname{
            display: block;
            width: 100%;
            margin-right: 0%;
          }
          .form_left{
            margin-bottom: 30px;
          }
          .yourname{
            margin-bottom: 5px;
          }
          .form_right, .yourname2{
            width: 100%;
            margin-right: 0;
          }
        }
      }
      .confirm_wrap{
        margin: 0 auto 20px;
        .confirmButton{
          display: block;
          width: 100%;
          margin: 0 auto;
        }
      }
      .send_wrap{
        display: block;
        text-align: center;
        #backButton{
          display: block;
          background: #fff;
          width: 100%;
          height: 50px;
          line-height: 50px;
          margin-right: 0px;
          margin-bottom: 10px;
        }
        input[type="submit"]{
          display: block;
          width: 100%;
          height: 50px;
          line-height: 50px;
        }
      }
    }
  }
}
