#gift{
  #keyVisual{
    .img_wrap{
      position: relative;
      width: 100%;
      height: 520px;
      background-color: #f1f1f1;
      background-image: url(../img/gift/main.jpg);
      @include bgSet;
    }
  }
  #giftProduct{
    margin: 50px auto;
    .lead_txt{
      text-align: center;
      h3{
        font-size: 16px;
        font-weight: normal;
        line-height: 1.67;
        letter-spacing: 1.5px;
        margin-bottom: 15px;
        span{
          display: block;
        }
      }
    }
    .product_wrap{
      margin: 50px auto 130px;
      .prod_ttl{
        @include waku;
        margin-bottom: 40px;
        span{
          font-size: 20px;
          font-weight: normal;
          line-height: normal;
          letter-spacing: 1.3px;
          display: block;
          background: #f1f1f1;
          padding: 10px;
          font{
            display: inline-block;
            padding-left: 10px;
            @include xiaowei;
            font-size: 16px;
            letter-spacing: 2px;
          }
        }
      }
      .flex_wrap{
        @include waku;
        ul{
          @include flexSet;
          justify-content: flex-start;
          li{
            width: 340px;
            margin-right: 30px;
            &:last-child{
              margin-right: 0;
            }
            .img_wrap{
              margin-bottom: 10px;
              a{
                display: block;
                @include hover;
                &:hover{
                  opacity: .8;
                }
              }
              &.upcoming{
                a{
                  position: relative;
                  &::before{
                    display: block;
                    content: "";
                    position: absolute;
                    top:0;
                    bottom:0;
                    left:0;
                    right:0;
                    margin: auto;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.2);
                  }
                  &::after{
                    display: block;
                    position: absolute;
                    top:0;
                    bottom:0;
                    left:0;
                    right:0;
                    height: 25px;
                    margin: auto;
                    text-align: center;
                    content: "UPCOMING";
                    color: #fff;
                    @include xiaowei;
                    font-size: 25px;
                    letter-spacing: 1.2px !important;
                    pointer-events: none;
                  }
                }
              }
            }
            .txt_wrap{
              .prod_name{
                display: block;
                font-size: 20px;
                line-height: normal;
                letter-spacing: normal;
                color: #111111;
                margin-bottom: 5px;
                @include hover;
              }
              .price{
                font-size: 15px;
                letter-spacing: normal;
                color: #666;
              }
              .desc{
                margin-top: 20px;
                font-size: 14px;
                line-height: 1.62;
                letter-spacing: normal;
                color: #333;
              }
              .content{
                margin-top: 20px;
                span{
                  display: block;
                  font-size: 14px;
                  line-height: 1.62;
                  letter-spacing: normal;
                  color: #333;
                }
              }
            }
            .button_wrap{
              margin-top: 30px;
            }
          }
        }
        &#trio{
          ul{
            li{
              .txt_wrap{
                .desc{
                  min-height: 44px;
                }
              }
            }
          }
        }
      }
    }
  }
  #giftWrapping{
    .flex_wrap{
      @include flexSet;
      align-items: center;
      .flex_left{
        width: 50%;
        .txt{
          p{
            font-size: 16px;
            line-height: 1.67;
            letter-spacing: 1.4px;
          }
        }
      }
      .flex_right{
        width: 50%;
        padding-left: 40px;
        box-sizing: border-box;
        .img_wrap{
          width: 100%;
          height: 320px;
          @include bgSet;
          background-image: url(../img/gift/gift_box.jpg)
        }
      }
    }
  }
  #giftFaq{
    margin-top: 200px;
    margin-bottom: 100px;
    .others{
      margin-top: 80px;
      text-align: center;
      font-size: 14px;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #111111;
      a{
        text-decoration: underline !important;
        color: #111111;
        @include hover;
      }
    }
  }
}

@media screen and (max-width: 1100px){
  #gift{
    #giftProduct{
      .product_wrap{
        .flex_wrap{
          ul{
            li{
              width: 48.5%;
              margin-right: 3%;
              margin-bottom: 30px;
              &:nth-child(2){
                margin-right: 0;
              }
              &:last-child{
                margin-right: 0;
              }
            }
          }
        }
      }
    }
    #giftWrapping{
      .flex_wrap{
        display: block;
        .flex_left{
          width: 100%;
          .sp_img{
            width: 100%;
            height: 350px;
            margin-bottom: 40px;
            @include bgSet;
            background-image: url(../img/gift/gift_box.jpg)
          }
          .txt{
            p{
              font-size: 16px;
              line-height: 1.67;
              letter-spacing: 1.4px;
            }
          }
        }
        .flex_right{
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 740px){
  #gift{
    #keyVisual{
      .img_wrap{
        height: 100vw;
        background-image: url(../img/gift/main_sp.jpg);
      }
    }
    #giftProduct{
      margin: 25px auto;
      .ttl_section{
        @include waku;
        text-align: left;
        margin-bottom: 20px;
      }
      .lead_txt{
        @include waku;
        text-align: left;
        h3{
          font-size: 14px;
          line-height: 1.86;
          letter-spacing: 1.2px;
        }
      }
      .product_wrap{
        margin: 40px auto 70px;
        .prod_ttl{
          max-width: 100vw;
          width: 100vw;
          box-sizing: border-box;
          margin-bottom: 30px;
          span{
            font-size: 20px;
            letter-spacing: 1px;
            padding: 10px 5vw;
            font{
              font-size: 14px;
              letter-spacing: 1.5px;
            }
          }
        }
        .flex_wrap{
          ul{
            display: block;
            li{
              width: 100%;
              margin-right: 0px;
              margin-bottom: 40px;
              .img_wrap{
                margin-bottom: 10px;
                a{
                  display: block;
                  @include hover;
                  &:hover{
                    opacity: .8;
                  }
                }
              }
              .txt_wrap{
                .prod_name{
                  font-size: 20px;
                  margin-bottom: 5px;
                }
                .price{
                  font-size: 14px;
                }
                .desc{
                  margin-top: 20px;
                  font-size: 13px;
                  color: #333;
                }
                .content{
                  margin-top: 20px;
                  span{
                    font-size: 13px;
                  }
                }
              }
              .button_wrap{
                margin-top: 20px;
              }
            }
          }
        }
        &#trio{
          ul{
            li{
              .txt_wrap{
                .desc{
                  min-height: initial;
                }
              }
            }
          }
        }
      }
    }
    #giftWrapping{
      .flex_wrap{
        .flex_left{
          .ttl_section{
            text-align: center;
          }
          .sp_img{
            height: 58vw;
            margin-bottom: 20px;
          }
          .txt{
            p{
              font-size: 14px;
              letter-spacing: 1px;
            }
          }
        }
      }
    }
    #giftFaq{
      margin-top: 100px;
      margin-bottom: 60px;
      .others{
        margin-top: 40px;
        line-height: 1.6;
        span{
          display: block;
        }
      }
    }
  }
}
